<ion-card>
  <ion-card-header>
    Toque en la imagen
    para ver mas detalles. :D
    <ion-button (click)="click(id)" >
      <img [src]="image"/>
    </ion-button>
  </ion-card-header>
  <ion-card-content>
    <ion-card-title id="titulo">
      {{ title | slice:0:30 }}...
    </ion-card-title>
    <ion-card-subtitle>
      {{ category }}
    </ion-card-subtitle>
    <ion-card-subtitle> {{ rating.rate }} ☆ </ion-card-subtitle>
    <!-- <ion-card-subtitle> {{ createdAt }} And {{ updatedAt }} </ion-card-subtitle> -->
    <!-- Slice, para partir un texto y mostrar n numeros de carácteres. -->
    <ion-card-subtitle> {{ description | slice:0:30 }}... </ion-card-subtitle>
    <ion-card-title> {{ price | currency: currentCurrency }} </ion-card-title>
  </ion-card-content>
</ion-card>